<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>API_BASE_URL</key>
    <string>https://api.spentyai.com</string>
    <key>GOOGLE_CLIENT_ID</key>
    <string>519685265917-uop14njfocs96tmlapprtu60h6b2uvl3.apps.googleusercontent.com</string>
    <key>GOOGLE_IOS_CLIENT_ID</key>
    <string>519685265917-uop14njfocs96tmlapprtu60h6b2uvl3.apps.googleusercontent.com</string>
</dict>
</plist>
